.menu{
    width: 90%;
    height: 400px;
    border: 1px solid black;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.child{
    width: 30%;
    height: 200px;
    background-color: red;
}